<div id="home_page">
  <header>
    <p id="greeting">Hello, welcome to Xipcraft!</p>
    <p id="subtle_message">Looking for directions?</p>
    <h1 id="xipcraft">Xipcraft</h1>
    <img src="/images/home/xipcraft-logo-small.png" width="200" height="80" alt="Xipcraft Logo">
  </header>
  <div id="main">
    Main content goes here..
  </div>
  <footer class="content">
    Content Footer
  </footer>
</div>