<header>
  <p id="greeting">Hello, welcome to Xipcraft!</p>
  <p id="subtle_message">Looking for directions?</p>
  <h1 id="xipcraft">Xipcraft</h1>
  <img src="/images/home/xipcraft-logo-small.png" width="200" height="80" alt="Xipcraft Logo">
</header>
<div class='content_container'>
  
</div>
<footer class="page_end">
  <div id="copyright">
    <strong>&copy; Xipcraft Systems Pvt. Ltd.</strong>
  </div>
</footer>
<div>
  <noscript>
    &lt;div id=&quot;noscript_container&quot;&gt;
      &lt;img src=&quot;/images/home/xipcraft-logo-small.png&quot; width=&quot;100&quot; height=&quot;40&quot; alt=&quot;Xipcraft Logo&quot;&gt;
      &lt;h2&gt;
        Hello, welcome to Xipcraft!
      &lt;/h2&gt;
      &lt;p&gt;
        &lt;span&gt;We're sorry but we'll need JavaScript to load up the full site.&lt;/span&gt; &lt;em&gt;We strongly recommend upgrading to a modern browser or turning JavaScript on and reloading the page.&lt;/em&gt;
      &lt;/p&gt;
      &lt;h3&gt;
        Anyways, we've got a collection of information below that you may find useful.
      &lt;/h3&gt;
      &lt;div class=&quot;about_xipcraft&quot;&gt;
        &lt;h4&gt;About Xipcraft&lt;/h4&gt;
        &lt;p&gt;&lt;span&gt;We enable great user experiences.&lt;/span&gt;&lt;/p&gt;
        &lt;p&gt;&lt;em&gt;As the world goes online and mobile, we partner businesses to embrace the change, and deliver awesome user experiences online and on-the-go.&lt;/em&gt;&lt;/p&gt;
      &lt;/div&gt;
      &lt;div class=&quot;contact_xipcraft&quot;&gt;
        &lt;h4&gt;Contact Xipcraft&lt;/h4&gt;
        &lt;p&gt;&lt;span&gt;Let's get in touch:&lt;/span&gt;&lt;/p&gt;
        &lt;ul&gt;
          &lt;li&gt;Call: plus nine one, zero two zero, two five triple-six two six zero.&lt;/li&gt;
          &lt;li&gt;Fax: plus nine one, zero two zero, two five triple-six two five nine.&lt;/li&gt;
          &lt;li&gt;Email: info at xipcraft dot com&lt;/li&gt;
          &lt;li&gt;Post: Xipcraft Systems Pvt. Ltd, 392-A Mahale Plot, Gokhale Nagar, Pune - 411007, Maharashtra - India.&lt;/li&gt;
        &lt;/ul&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  </noscript>
  
</div>
