<noscript>
  <div id="noscript_container">
    <img src="/images/home/xipcraft-logo-small.png" width="100" height="40" alt="Xipcraft Logo">
    <h2>
      Hello, welcome to Xipcraft!
    </h2>
    <p>
      <span>We're sorry but we'll need JavaScript to load up the full site.</span> <em>We strongly recommend upgrading to a modern browser or turning JavaScript on and reloading the page.</em>
    </p>
    <h3>
      Anyways, we've got a collection of information below that you may find useful.
    </h3>
    <div id="about_xipcraft">
      <h4>About Xipcraft</h4>
      <p><span>We enable great user experiences.</span></p>
      <p><em>As the world goes online and mobile, we partner businesses to embrace the change, and deliver awesome user experiences online and on-the-go.</em></p>
    </div>
    <div id="contact">
      <h4>Contact Xipcraft</h4>
      <p><span>Let's get in touch:</span></p>
      <ul>
        <li>Call: plus nine one, zero two zero, two five triple-six two six zero.</li>
        <li>Fax: plus nine one, zero two zero, two five triple-six two five nine.</li>
        <li>Email: info at xipcraft dot com</li>
        <li>Post: Xipcraft Systems Pvt. Ltd, 392-A Mahale Plot, Gokhale Nagar, Pune - 411007, Maharashtra - India.</li>
      </ul>
    </div>
  </div>
</noscript>
<div id='main'></div>
<footer class="page_end">
  <div id="copyright">
    <strong>&copy; Xipcraft Systems Pvt. Ltd.</strong>
  </div>
<footer>
