$vgh: 18px;


h2 {
  font-size: $vgh*1.875;
  text-align: center;
  color: #333;
  line-height: 1.08;
}

body section, body footer {
  hgroup div {
    h3 {
      text-align: center;
      line-height: 1.24;
      font-size: $vgh*0.875;
      font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
      margin-top:13px;
      color: #555;
    }

  }

}

body footer p {
  line-height: 1.24;
  font-size: 10px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  margin: 4px;
  color: #bababa;
  text-align: center;
}