/* xCarousel: A simple light carousel mixin to be used with CSS3 transforms to enable smooth animation
   @author: Balwant K.
---------------------------------------- */

/* HTML structure:
   Note that the following structure is created with generic div tags. 
   I encourage you to replace them with with more semantic HTML5 tags.
   
   <div id="stage_id">
     <div id="showcase_id">
       <div class="show_class">
         <!-- Content elements go here...-->
       </div>
       <div class="show_class">
         <!-- Content elements go here...-->
       </div>
       <div class="show_class">
         <!-- Content elements go here...-->
       </div>
       <!-- More shows can go here...-->
     </div>
   </div>
---------------------------------------- */

/* Javascript control:

> document.getElementById("<showcase_id>").style.left="<distance_to_show>";

---------------------------------------- */

/* xCarousel SCSS mixin usage:

@include xCarousel(
  $stage_id,
  $stage_width, // Can be overridden using xCarouselAdaptiveOverride and @media
  $showcase_id,
  $show_width,  // Can be overridden using xCarouselAdaptiveOverride and @media
  $number_of_shows,
  $animation_duration,
  $animation_easing,
  $show_class
);

---------------------------------------- */

@mixin xCarousel($stage_id,$stage_width,$showcase_id,$show_width,$number_of_shows,$animation_duration,$animation_easing,$show_class) {
  
  #{$stage_id} {
    float: left;
    overflow: hidden;
    width: #{$stage_width};

    #{$showcase_id} {
      overflow: hidden;
      float: left;
      width: #{$number_of_shows}*#{$show_width};
      position: relative;
      left: 0px;
      top: 0px;
      @include single-transition(left, #{$animation_duration}, #{$animation_easing}, 0);

      #{show_class} {
        overflow: hidden;
        float: left;
        width: #{$show_width};
      }
    }
  }
}

/* A mixin to use when overriding dimentions in an Adaptive Design
---------------------------------------- */

/* xCarouselAdaptiveOverride SCSS mixin usage:

@include xCarouselAdaptiveOverride(
  $stage_id,        // Specify details of the xCarousel that you want to override
  $stage_width,     // Override using @media
  $showcase_id,     // Specify details of the xCarousel that you want to override
  $show_width,      // Override using @media
  $number_of_shows, // Specify details of the xCarousel that you want to override
  $show_class       // Specify details of the xCarousel that you want to override
);
---------------------------------------- */
@mixin xCarouselAdaptiveOverride($stage_id,$stage_width,$showcase_id,$show_width,$number_of_shows,$show_class) {
  
  #{$stage_id} {
    width: #{$stage_width};

    #{$showcase_id} {
      width: #{$number_of_shows}*#{$show_width};

      #{show_class} {
        width: #{$show_width};
      }
    }
  }
}