/* @author: Balwant K.
---------------------------------------- */
/* line 4, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 4, ../sass/partials/_typography.scss */
h2 {
  font-size: 33.75px;
  text-align: center;
  color: #333;
  line-height: 1.08;
}

/* line 13, ../sass/partials/_typography.scss */
body section hgroup div h3, body footer hgroup div h3 {
  text-align: center;
  line-height: 1.24;
  font-size: 15.525px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  margin-top: 13px;
  color: #555;
}

/* line 26, ../sass/partials/_typography.scss */
body footer p {
  line-height: 1.24;
  font-size: 10px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  margin: 4px;
  color: #bababa;
  text-align: center;
}

/* line 13, ../sass/screen.scss */
body {
  font-family: georgia, serif;
  background-color: #fafafa;
  background-image: url("../images/background_textile2.gif");
}
/* line 18, ../sass/screen.scss */
body ::-moz-selection {
  background: #ffffa7;
  color: #222;
  text-shadow: none;
}
/* line 24, ../sass/screen.scss */
body ::selection {
  background: #ffffa7;
  color: #222;
  text-shadow: none;
}
/* line 30, ../sass/screen.scss */
body a {
  color: #333;
  text-decoration: none;
}
/* line 33, ../sass/screen.scss */
body a:link {
  -webkit-tap-highlight-color: #ffffa7;
}
/* line 36, ../sass/screen.scss */
body a:hover {
  color: #222;
  background: #ffffa7;
  border-bottom: 2px solid #666;
}
/* line 41, ../sass/screen.scss */
body a:active {
  position: relative;
  top: 1px;
}
/* line 47, ../sass/screen.scss */
body label, body input[type="button"], body input[type="submit"], body input[type="image"], body button {
  cursor: pointer;
}
/* line 51, ../sass/screen.scss */
body button, body input, body select, body textarea {
  margin: 0;
}

/* line 56, ../sass/screen.scss */
#main {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 60, ../sass/screen.scss */
#main #xipcraft_branding {
  display: inline;
  float: left;
  margin-right: 0;
  width: 960px;
  margin-top: 36px;
}
/* line 147, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #main #xipcraft_branding {
  overflow-x: hidden;
}
/* line 63, ../sass/screen.scss */
#main #xipcraft_branding h1 {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 31, ../sass/partials/_helpers.scss */
#main #xipcraft_branding h1 .focusable:active, #main #xipcraft_branding h1 .focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/* line 64, ../sass/screen.scss */
#main #xipcraft_branding p {
  text-align: center;
}
/* line 67, ../sass/screen.scss */
#main #xipcraft_branding p a:hover {
  position: relative;
  top: -1px;
  background: none;
  border-bottom: none;
}
/* line 73, ../sass/screen.scss */
#main #xipcraft_branding p a:active {
  position: relative;
  top: 1px;
  background: none;
}
/* line 82, ../sass/screen.scss */
#main #what_and_why {
  display: inline;
  float: left;
  margin-right: 0;
  width: 960px;
  margin-top: 9px;
  margin-bottom: 15px;
}
/* line 147, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #main #what_and_why {
  overflow-x: hidden;
}
/* line 87, ../sass/screen.scss */
#main #what_and_why #work_desription {
  margin-top: 15px;
}
/* line 92, ../sass/screen.scss */
#main .divider {
  display: inline;
  float: left;
  margin-right: 0;
  width: 960px;
}
/* line 147, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #main .divider {
  overflow-x: hidden;
}
/* line 94, ../sass/screen.scss */
#main .divider div {
  border-bottom: 3px dashed #741b47;
  height: 16px;
  margin: 0 auto;
  width: 100px;
}
/* line 101, ../sass/screen.scss */
#main nav {
  display: inline;
  float: left;
  margin-right: 0;
  width: 960px;
}
/* line 147, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #main nav {
  overflow-x: hidden;
}
/* line 104, ../sass/screen.scss */
#main nav ul {
  list-style-type: none;
  margin-top: 11.25px;
  margin-bottom: -5.5px;
}
/* line 108, ../sass/screen.scss */
#main nav ul li {
  text-align: center;
  font-size: 15.525px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  line-height: 2.3;
}
/* line 113, ../sass/screen.scss */
#main nav ul li a {
  color: #666;
}
/* line 115, ../sass/screen.scss */
#main nav ul li a:hover {
  color: #222;
}
/* line 121, ../sass/screen.scss */
#main nav ul li span a {
  color: #333;
  font-weight: bold;
}
/* line 132, ../sass/screen.scss */
#main #produce_team_contact {
  display: inline;
  float: left;
  margin-right: 0;
  width: 960px;
  height: 495px;
  margin-top: 29.25px;
  -moz-border-radius: 11.25px;
  -webkit-border-radius: 11.25px;
  -o-border-radius: 11.25px;
  -ms-border-radius: 11.25px;
  -khtml-border-radius: 11.25px;
  border-radius: 11.25px;
  -moz-box-shadow: inset 0px 1px 2px 2px #c9c9c9;
  -webkit-box-shadow: inset 0px 1px 2px 2px #c9c9c9;
  -o-box-shadow: inset 0px 1px 2px 2px #c9c9c9;
  box-shadow: inset 0px 1px 2px 2px #c9c9c9;
  background: #fff;
}
/* line 147, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #main #produce_team_contact {
  overflow-x: hidden;
}
/* line 142, ../sass/screen.scss */
#main #produce_team_contact div.showcase {
  position: relative;
  left: -1920px;
  top: 0px;
  height: 495px;
  width: 3840px;
}
/* line 151, ../sass/screen.scss */
#main #produce_team_contact div.showcase p {
  line-height: 1.86;
  font-size: 12.6px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  margin-top: 16px;
  color: #555;
}
/* line 153, ../sass/screen.scss */
#main #produce_team_contact div.showcase p a {
  color: #741b47;
  border-bottom: 2px solid #741b47;
  cursor: pointer;
}
/* line 157, ../sass/screen.scss */
#main #produce_team_contact div.showcase p a:hover {
  color: #222;
  border-bottom: 2px solid #222;
}
/* line 170, ../sass/screen.scss */
#main #produce_team_contact div.showcase h2 + p {
  margin-top: 18px;
}
/* line 174, ../sass/screen.scss */
#main #produce_team_contact div.showcase h2 {
  text-align: left;
  line-height: 1.08;
  font-size: 28.013px;
  font-style: italic;
}
/* line 183, ../sass/screen.scss */
#main #produce_team_contact div.showcase h3 {
  margin-top: 25px;
  text-align: left;
  line-height: 1.08;
  font-size: 22.41px;
}
/* line 191, ../sass/screen.scss */
#main #produce_team_contact div.showcase #produce {
  float: left;
  height: 495px;
  width: 960px;
  overflow: hidden;
}
/* line 196, ../sass/screen.scss */
#main #produce_team_contact div.showcase #produce h2 {
  padding: 2px 0px 9px 0px;
  border-bottom: 3px dashed #741b47;
  margin-left: 10px;
  width: 415px;
}
/* line 204, ../sass/screen.scss */
#main #produce_team_contact div.showcase #produce p {
  padding: 0px 20px 0px 10px;
}
/* line 208, ../sass/screen.scss */
#main #produce_team_contact div.showcase #produce #produce_mascot {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 475px;
}
/* line 147, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #main #produce_team_contact div.showcase #produce #produce_mascot {
  overflow-x: hidden;
}
/* line 210, ../sass/screen.scss */
#main #produce_team_contact div.showcase #produce #produce_mascot img {
  margin-top: 20px;
  margin-left: 38px;
}
/* line 216, ../sass/screen.scss */
#main #produce_team_contact div.showcase #produce #produce_description {
  display: inline;
  float: left;
  margin-right: 0;
  width: 475px;
  padding-top: 39.6px;
}
/* line 147, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #main #produce_team_contact div.showcase #produce #produce_description {
  overflow-x: hidden;
}
/* line 221, ../sass/screen.scss */
#main #produce_team_contact div.showcase #produce #produce_description nav {
  display: inline;
  float: left;
  margin-right: 0;
  width: 475px;
}
/* line 147, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #main #produce_team_contact div.showcase #produce #produce_description nav {
  overflow-x: hidden;
}
/* line 228, ../sass/screen.scss */
#main #produce_team_contact div.showcase #team {
  height: 495px;
  width: 960px;
  overflow: hidden;
  float: left;
}
/* line 234, ../sass/screen.scss */
#main #produce_team_contact div.showcase #team #motto {
  padding-top: 4px;
  margin-bottom: 36px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 960px;
}
/* line 238, ../sass/screen.scss */
#main #produce_team_contact div.showcase #team #motto h2 {
  text-align: center;
  padding: 18px 0px 9px 0px;
  border-bottom: 3px dashed #741b47;
  margin: 0 auto;
  width: 380px;
}
/* line 147, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #main #produce_team_contact div.showcase #team #motto {
  overflow-x: hidden;
}
/* line 248, ../sass/screen.scss */
#main #produce_team_contact div.showcase #team #bk {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 475px;
}
/* line 147, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #main #produce_team_contact div.showcase #team #bk {
  overflow-x: hidden;
}
/* line 251, ../sass/screen.scss */
#main #produce_team_contact div.showcase #team #bk #bk_pic {
  overflow: hidden;
  margin: 0 auto;
  width: 160px;
  -moz-box-shadow: 1px 2px 3px 1px #c9c9c9;
  -webkit-box-shadow: 1px 2px 3px 1px #c9c9c9;
  -o-box-shadow: 1px 2px 3px 1px #c9c9c9;
  box-shadow: 1px 2px 3px 1px #c9c9c9;
  border: 5px solid white;
  height: 144px;
}
/* line 260, ../sass/screen.scss */
#main #produce_team_contact div.showcase #team #bk #bk_bio {
  display: inline;
  float: left;
  margin-right: 0;
  width: 475px;
  height: 171px;
}
/* line 147, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #main #produce_team_contact div.showcase #team #bk #bk_bio {
  overflow-x: hidden;
}
/* line 264, ../sass/screen.scss */
#main #produce_team_contact div.showcase #team #bk #bk_bio * {
  padding: 0px 15px 0px 15px;
  text-align: center;
}
/* line 272, ../sass/screen.scss */
#main #produce_team_contact div.showcase #team #du {
  display: inline;
  float: left;
  margin-right: 0;
  width: 475px;
}
/* line 147, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #main #produce_team_contact div.showcase #team #du {
  overflow-x: hidden;
}
/* line 275, ../sass/screen.scss */
#main #produce_team_contact div.showcase #team #du #du_pic {
  overflow: hidden;
  margin: 0 auto;
  width: 160px;
  -moz-box-shadow: 1px 2px 3px 1px #c9c9c9;
  -webkit-box-shadow: 1px 2px 3px 1px #c9c9c9;
  -o-box-shadow: 1px 2px 3px 1px #c9c9c9;
  box-shadow: 1px 2px 3px 1px #c9c9c9;
  border: 5px solid white;
  height: 144px;
}
/* line 283, ../sass/screen.scss */
#main #produce_team_contact div.showcase #team #du #du_bio {
  display: inline;
  float: left;
  margin-right: 0;
  width: 475px;
  height: 171px;
}
/* line 147, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #main #produce_team_contact div.showcase #team #du #du_bio {
  overflow-x: hidden;
}
/* line 286, ../sass/screen.scss */
#main #produce_team_contact div.showcase #team #du #du_bio * {
  padding: 0px 15px 0px 15px;
  text-align: center;
}
/* line 294, ../sass/screen.scss */
#main #produce_team_contact div.showcase #team nav {
  padding-top: 18px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 960px;
}
/* line 296, ../sass/screen.scss */
#main #produce_team_contact div.showcase #team nav p {
  font-style: italic;
  text-align: center;
}
/* line 300, ../sass/screen.scss */
#main #produce_team_contact div.showcase #team nav p span {
  font-weight: bold;
  color: #333;
}
/* line 147, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #main #produce_team_contact div.showcase #team nav {
  overflow-x: hidden;
}
/* line 311, ../sass/screen.scss */
#main #produce_team_contact div.showcase #contact {
  height: 495px;
  width: 960px;
  float: left;
}
/* line 316, ../sass/screen.scss */
#main #produce_team_contact div.showcase #contact h2 {
  padding: 0px 0px 9px 0px;
  border-bottom: 3px dashed #741b47;
  margin-left: 10px;
  width: 415px;
}
/* line 326, ../sass/screen.scss */
#main #produce_team_contact div.showcase #contact #map_to_xipcraft {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 475px;
}
/* line 147, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #main #produce_team_contact div.showcase #contact #map_to_xipcraft {
  overflow-x: hidden;
}
/* line 330, ../sass/screen.scss */
#main #produce_team_contact div.showcase #contact #call_to_talk {
  display: inline;
  float: left;
  margin-right: 0;
  width: 475px;
}
/* line 147, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #main #produce_team_contact div.showcase #contact #call_to_talk {
  overflow-x: hidden;
}
/* line 336, ../sass/screen.scss */
#main #produce_team_contact div.showcase #jobs {
  height: 495px;
  width: 960px;
  background: blue;
  opacity: 0.5;
  float: left;
}
/* line 345, ../sass/screen.scss */
#main #the_end {
  margin-top: 13.5px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 960px;
}
/* line 147, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #main #the_end {
  overflow-x: hidden;
}
