<section id="main">
  <header id="xipcraft_branding">
    <h1>Xipcraft</h1>
    <p><a href="#main"><img src="images/xipcraft_static_site/xipcraft-logo-small.png" width="205" height="82" alt="Xipcraft Logo"></a></p>
  </header>
  
  <div id="home_view">
    <section id="what_and_why">
      <hgroup>
        <h2>We create simple, beautiful web apps that make life <a href="#produce">easier</a>.</h2>
        <div id="work_desription">
          <h3>We're passionate about technology, communication and user experience. We work on the web to fulfill this purpose.</h3>
        </div>
      </hgroup>
    </section>

    <div id="before_nav" class="divider"><div></div></div>     
    <nav id="main_nav" class="main">
      <ul>
        <li><span><a href="#produce">Product</a></span></li>
        <li><a href="#team">Team</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="jobs">Jobs</a></li>
      </ul>
    </nav>
    <div id="after_nav" class="divider"><div></div></div>
  </div>
   
  <div  id="produce_team_contact_carousel">
    <div id="main_carousel_showcase_showcase" class="showcase">
      <section id="produce" class="show">
        <div id="produce_mascot"><img src="images/xipcraft_static_site/what.gif" width="400" height="628" alt="A picture of what we're building"></div>
        <div id="produce_description">
          <h2>Customer service should be easy.</h2>
          <p>As customers, don't we feel this quite often?</p>
          <p>However, businesses face some serious challenges, while trying to serve customers online today.</p>
          <p>While a plain online form or an email address is insufficient, tailoring a world-class web system is hardly viable, especially in today's economic weather.</p>
          <p>We're currently focussed on bridging this gap with our first product. Using it, businesses will be able to deliver great online customer service, quickly and efficiently.</p>
          <nav>
            <p>
              <em>Keep an eye on this space, an awesome product is coming soon!</em> You can also <a href="#team">meet the team</a> or <a href="#contact">get in touch</a>.
            </p>
          </nav>
        </div>
      </section>
      <section id="team" class="show">
        <header id="motto">
          <h2>We share a passion for writing excellent software.</h2>
        </header>
        <section id="bk">
          <div class="pic">
            <img src="images/xipcraft_static_site/bk.jpga" width="200" alt="BK's Pic">
          </div>
          <div class="bio">
            <h3>I'm Balwant.</h3>
            <p>
              I'm an adept inventor, mechanical engineer and software master.
              I see an infinite potential in the web to improve our lives.
              Every product that we'll ever build takes a step in this
              direction.
            </p>
          </div>
        </section>
        <section id="du">
          <div class="pic">
            <img src="images/xipcraft_static_site/du.jpga" width="200" alt="DU's Pic">
          </div>
          <div class="bio">
            <h3>And I'm Dinesh.</h3>
            <p>
              I'm love writing pure code. I value the importance
              of user experience, good system behavior and holistic testing. 
              I'm proud to be building really awesome software. 
              I hope you enjoy what we build!
            </p>
          </div>
        </section>
        <nav>
          <p>
            <span>Where to next?</span> Read <a href="#produce">about our product</a>, <a href="#contact">get in touch</a> or <a href="jobs">apply for a job</a> here?
          </p>
        </nav>
      </section>
      <section id="contact" class="show">
        <header id="magic_location">
          <h2><em>All this magic happens in Pune.</em></h2>
        </header>
        <section id="map_to_xipcraft">
          <div id="the_map">
            <img src="http://maps.googleapis.com/maps/api/staticmap?center=40.714728,-73.998672&zoom=16&size=480x495&sensor=false" width="480" height="495" alt="The Map">
          </div>
        </section>
        <section id="call_to_talk">
          <div>
            <ul>
              <li>
                <h3>Visit</h3>
                <p><span>Xipcraft Systems Pvt. Ltd.</span><br>392-A Mahale Plot, Gokhale Nagar, Pune - 411016. Maharashtra, India.</p>
              </li>
              <li>
                <h3>Call</h3>
                <p>+91 202 5666 260</p>
              </li>
              <li>
                <h3>Fax</h3>
                <p>+91 202 5666 259</p>
              </li>
              <li>
                <h3>Email</h3>
                <p>info at xipcraft dot com</p>
              </li>
            </ul>
          </div>
        </section>
        <nav>
          <p>
            <span>Where to next?</span> Read <a href="#produce">about our product</a>, <a href="#team">meet the team</a> or go <a href="#main">back to the home page</a>?
          </p>
        </nav>
      </section>
    </div>
  </div>
  
  <footer id="the_end">
    <p id="copyright"><strong>&copy; Xipcraft Systems Pvt. Ltd.</strong></p>
  </footer>    
</section>