/* @author: Balwant K.
---------------------------------------- */
/*
  Session1
  TODO Put all JS together
  
  Session2

  TODO Directions href to map
  
  Session3
  Document code
  Compress HTML
  Go live.
  Check google analytics is functioning
  
  TODO Print styles
*/

  
@import "blueprint/reset";
@import "partials/xipcraft_static_site/base";
@import "blueprint";
@import "partials/helpers";
@import "partials/xipcraft_static_site/typography";
@import "partials/xcarousel";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";


/* Base styling
---------------------------------------- */
html{height: 100%;}
body {
  background-color: #fafafa;
  background-image: url('/images/xipcraft_static_site/background_textile.gif');
  height: 100%;
}


/* 
---------------------------------------- */




/*****************************************************/
/*****************************************************/
/* Start: Default 1col fluid layout for viewports that don't handle media queries as well as those that are less than 480px width..
---------------------------------------- */

body {width: 98%; margin: 0 auto;}

#main {
  width: 100%;    
  #xipcraft_branding {
    width: 100%; 
    margin-top: 1.6*($vgh*1.25);
    img {
      width: 100%;
      height: auto;
    }
  }
  
  #what_and_why {
    width: 100%; 
    margin-top: 0.4*($vgh*1.25); //
    margin-bottom: 15px;     //
    #description {
      margin-top: 15px; //
    }
  }  
  
  #home_view {
    width:100%;
    overflow: hidden;
  }
  
  .divider {
    width: 100%;
    div {
      border-bottom: 3px dashed #741b47;  //
      height: 16px; //
      @include wrapper(100px);
    }
  }
  
  nav.main {
    width: 100%;
  }
  
  #produce_team_contact_carousel {
    margin-top: 1.3*($vgh*1.25);  //
    @include single-box-shadow(#c9c9c9, 0px, 1px, 2px, 2px, true);   
    @include border-radius(($vgh*1.25)/2);
    background: #fff;
    height: 0px;
    div.showcase {
       
      #produce {    
          
        #produce_mascot {
          width: 50%;
          margin: 5% 25% -10% 25%;
          img {
            width: 100%;
            height: auto;
          }        
        }
        
        #produce_description {  
          
          width: 90%;
          margin: 0% 5%;
          h2 {
            width: 90%;
            margin-right: 5%;
          }
          padding-top: 2.2*($vgh);     // 
          nav {
            width: 100%;
          }
        }     
      }
      
      #team {
        #motto {
          padding-top: 4px;  //
          width: 90%;
          margin: 0% 5%;
          h2 {
            width: 100%;
          }
          margin-bottom: 2*$vgh;  //
        }
  
        .pic {
          overflow: hidden;
          @include wrapper(160px);
          @include single-box-shadow(#c9c9c9, 1px, 1px, 4px, 2px, false);
          border: 5px solid white;  //
        }
             
        #bk {
          width: 100%;
        }        
        #du {
          width: 100%;
          margin: 24px 0px;
        }      
        nav {
          width: 90%;
          margin: 0% 5%;
        }
      
      }
           
      #contact {
        #magic_location {   
          padding-top: 4px;  //
          width: 90%;
          margin: 0% 5%;
          margin-bottom: 2*$vgh;
          h2 {
            width: 100%;
          }
        }      
                
        #map_to_xipcraft {
          width: 100%;
          #the_map {
            overflow: hidden;
            width: 70%;
            margin: 0 auto;
            border: 5px solid white;
            @include single-box-shadow(#c9c9c9, 1px, 1px, 8px, 3px, false);   //
            
            img {
              width: 100%;
              height: auto;             
            }
          }
        }
        
        #call_to_talk {
          width: 90%;
          margin: 0% 5%;
          margin-top: 40px;
          h3, p {
            text-align: center;
          }
        }
        
        nav {
          padding-top:12px;
          padding-bottom:12px;
          width: 90%;
          margin: 0% 5%;
        }
      }          
    }
  }    
  #the_end {
    margin-top: 13.5px; //
    width: 100%;
  }
}

@include xCarousel("#produce_team_contact_carousel","100%","#main_carousel_showcase","300%",".show","33.333333333332%",true,"0.5s","ease-in-out"); // No JS
/* Global IE Styles (Noboxshadow?) ---------------------------------------- */

.ie6, .ie7, .ie8 { 
  
  #produce_team_contact_carousel {
    border: #CECECE 2px solid;  // This border..
  } //end #produce_team_contact_carousel
  
  .pic {
    img {
      border: #CECECE 1px solid;
      padding: 4px;
      width: 130px;
      margin-left: 5px;
    }
  }
}

/* END Global IE Styles ---------------------------------------- */

/* End: Default layout for viewports that don't handle media queries as well as those that are less than 480px width..
---------------------------------------- */
/*****************************************************/
/*****************************************************/

/*****************************************************/
/*****************************************************/
/* Start: 2 Col fluid.. For everything in between real 960px and 480px
---------------------------------------- */

@media screen and (min-width:480px), handheld and (min-width:480px){

  #main {   
    #xipcraft_branding {
      img {
        width: 205px;
        height: 82px;
      }
    } 

    #produce_team_contact_carousel {
      div.showcase {
        #produce {    
          #produce_mascot {
            float:left;
            width: 50%;
            margin: 0px 0px 0px 0px;
            img {
              width: 80%;
              padding: 20% 10% 10% 10%;
              height: auto;
            }        
          }

          #produce_description {  
            float:left;
            width: 50%;
            margin: 0% 0%;
            margin-bottom: 10px;
          }     
        }

        #team {
          #motto {
            float: left;
          }

          #bk {
            float: left;
            width: 50%;
          }

          #du {
            float: left;
            width: 50%;
            margin: 0px 0px;
          }

          nav {
            float: left;
            display: block; 
            visibility: visible; 
            p {
              margin-top: 39px;
            }
          }
        }

        #contact {
          #magic_location {   
            float: left;
          }      

          #map_to_xipcraft {
            width: 50%;
            float: left;
          }

          #call_to_talk {
            float: left;
            width: 50%;
            margin: 0px;
            margin-top: -16px;
            h3, p {
              text-align: center;
              width:80%;
            }
          }

          nav {
            float: left;
            margin-top: 35px;
          }
        }         
      }
    }
  } 
}

/* Mid range tweak for mascot image
---------------------------------------- */
@media screen and (min-width:760px) and (max-width:960px), handheld and (min-width:760px) and (max-width:960px){

  #main {
    #produce_team_contact_carousel {
      div.showcase {
        #produce {    
          #produce_mascot {
            img {
              width: 60%;
              padding: 7% 20% 8% 20%;
              height: auto;
            }        
          }
        }
      }
    }
  }
}

/* End: 2 Col fluid Layout for everything in between real 960px and 480px
---------------------------------------- */
/*****************************************************/
/*****************************************************/

/*****************************************************/
/*****************************************************/
/* Start: FIXED WIDTH LAYOUT FOR BIGGER SCREENS
----------------------------------------  */

@media screen and (min-width:960px), handheld and (min-width:960px){
  body {width: 100%; margin: 0 auto;}
  #main {
    @include container;   
    //@include showgrid;

    #xipcraft_branding {
      @include column(24, true); 
    }

    #what_and_why {
      @include column(24, true);
      margin-top: 0.4*($vgh*1.25); //
      margin-bottom: 15px;     //
      #description {
        margin-top: 15px; //
      }
    }  
    
    #home_view {
      @include column(24, true);
    }
    
    .divider {
      @include column(24, true);
    }

    nav.main {
      @include column(24, true);
    }
    
    #produce_team_contact_carousel {
      @include column(24, true);
      div.showcase {        
        #produce {      
          #produce_mascot {
            @include column(12);
            height: 520px; //
            overflow: hidden;
            margin: 0px;
            img {
              margin-top: 20px; //
              margin-left: 38px;
              width:400px;
              height:628px;
              padding: 0px;
            }
          }

          #produce_description {  
            margin: 0px;
            margin-top: 3px;
            @include column(12, true);    // 
            nav {
              @include column(12, true);
            }           
            
            h2 {
              margin-right: 0px;
              width: 415px;
            }

          }     
        }

        #team {
          #motto {
            margin: 0px;
            margin-top: 3px;
            @include column(24, true);
            h2 {
              @include wrapper(640px);
            }//
          }

          .pic {
            height: 8*($vgh);  //
            margin-top:42px;            
          }

          .bio {
            height: 9.5*($vgh); //
            @include column(12, true);
          }

          #bk {
            @include column(12);
          }

          #du {
            @include column(12, true);
            margin: 0px;
          }

          nav {
            float: left;
            display: block; 
            visibility: visible; 
            p {margin:0px;}
            margin: 0px;
            padding-top: 18px;  //
            @include column(24, true);
          }

        }

        #contact {
          #magic_location { 
            margin:0px;
            margin-top: 3px;    //
            @include column(24, true);
            h2 {
              @include wrapper(400px);
            }//
             //
            margin-bottom:42px;
          }       

          #map_to_xipcraft {
            @include column(13);
            #the_map {
              width: 400px; 
              height: 282px;                            
            }
          }

          #call_to_talk {
            @include column(11, true);
            div {
              overflow: hidden;
              width: 400px;
              margin-left: 15px;
              h3, p {
                text-align: left;
              }
            }
          }

          nav {
            margin:0px;
            margin-top: 31px;
            @include column(24, true);
            p {margin:0px;}
          }
        }      
      }
    }

    #the_end {
      margin-top: 13.5px; //
      @include column(24, true);
    }
  }
  
  
  
  @include xCarousel("#produce_team_contact_carousel","auto","#main_carousel_showcase","2880px",".show","960px",true,"0.5s","ease-in-out");
  
  
  /* Media Query specific IE styles ---------------------------------------- */
   
  .ie6, .ie7, .ie8 {
    #main {
      width:964px; // Accomodating the border..
    } //end #main
    #produce_team_contact_carousel {
      width:964px;  // Accomodating the border..
    } //end #produce_team_contact_carousel
  }
  
  /* End Media Query specific IE styles ---------------------------------------- */
}

/* End: FIXED WIDTH LAYOUT FOR BIGGER SCREENS
---------------------------------------- */
/*****************************************************/
/*****************************************************/


/*****************************************************/
/*****************************************************/
/* Start: NO JS Settings
---------------------------------------- */

html.no-js {
  @include xCarousel("#produce_team_contact_carousel","100%","#main_carousel_showcase","100%",".show","100%",true,"0.5s","ease-in-out"); // No JS
  #produce_team_contact_carousel {
    height: 100%;
  }
  #produce {margin-bottom: 20px;}
  #team nav {@include visuallyhidden;}
  #contact {margin-top: 0px;} 
}
/* End: NO JS Settings
---------------------------------------- */
/*****************************************************/
/*****************************************************/










