@import "compass/layout.scss";
@include sticky-footer(28px, "div#main", "footer.content", "footer.page_end");

@mixin wrapper {
  margin: 0 auto;
  width: 960px;
}

body {
  background-color: #fafafa;
  background-image: url('/images/home/embed/background_textile.gif');
}

div#noscript_container, div#copyright {
   @include wrapper;
}

div#copyright {
  padding: 6px;
  text-align: center;
  strong {
    font-weight: normal;
  }
}





