/* @author: Balwant K.
---------------------------------------- */
/*
  Session1
  TODO Put all JS together
  
  Session2

  TODO Directions href to map
  
  Session3
  Document code
  Compress HTML
  Go live.
  Check google analytics is functioning
  
  TODO Print styles
*/
/* line 4, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 4, ../../app/stylesheets/partials/xipcraft_static_site/_typography.scss */
body {
  font-family: georgia, serif;
}
/* line 7, ../../app/stylesheets/partials/xipcraft_static_site/_typography.scss */
body ::-moz-selection {
  background: #ffffa7;
  color: #222;
  text-shadow: none;
}
/* line 12, ../../app/stylesheets/partials/xipcraft_static_site/_typography.scss */
body ::selection {
  background: #ffffa7;
  color: #222;
  text-shadow: none;
}
/* line 18, ../../app/stylesheets/partials/xipcraft_static_site/_typography.scss */
body a {
  color: #333;
  text-decoration: none;
}
/* line 21, ../../app/stylesheets/partials/xipcraft_static_site/_typography.scss */
body a:link {
  -webkit-tap-highlight-color: #ffffa7;
}
/* line 24, ../../app/stylesheets/partials/xipcraft_static_site/_typography.scss */
body a:hover {
  color: #222;
  background: #ffffa7;
  border-bottom: 2px solid #666;
}
/* line 29, ../../app/stylesheets/partials/xipcraft_static_site/_typography.scss */
body a:active {
  position: relative;
  top: 1px;
}
/* line 35, ../../app/stylesheets/partials/xipcraft_static_site/_typography.scss */
body h1 {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 31, ../../app/stylesheets/partials/_helpers.scss */
body h1 .focusable:active, body h1 .focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/* line 39, ../../app/stylesheets/partials/xipcraft_static_site/_typography.scss */
body h2 {
  font-size: 2.109em;
  text-align: center;
  color: #333;
  line-height: 1.08;
  text-shadow: white 1px 1px 0px;
}
/* line 48, ../../app/stylesheets/partials/xipcraft_static_site/_typography.scss */
body hgroup div h3 {
  text-align: center;
  line-height: 1.24;
  font-size: 0.984em;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  margin-top: 13px;
  color: #555;
  text-shadow: white 1px 1px 0px;
}
/* line 60, ../../app/stylesheets/partials/xipcraft_static_site/_typography.scss */
body #xipcraft_branding p {
  text-align: center;
}
/* line 63, ../../app/stylesheets/partials/xipcraft_static_site/_typography.scss */
body #xipcraft_branding p a:hover {
  position: relative;
  top: -1px;
  background: none;
  border-bottom: none;
}
/* line 69, ../../app/stylesheets/partials/xipcraft_static_site/_typography.scss */
body #xipcraft_branding p a:active {
  position: relative;
  top: 1px;
  background: none;
}
/* line 79, ../../app/stylesheets/partials/xipcraft_static_site/_typography.scss */
body nav.main ul {
  list-style-type: none;
  margin-top: 0.703em;
  margin-bottom: -5.5px;
}
/* line 83, ../../app/stylesheets/partials/xipcraft_static_site/_typography.scss */
body nav.main ul li {
  text-align: center;
  font-size: 0.97em;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  line-height: 2.3;
  text-shadow: white 1px 1px 0px;
}
/* line 89, ../../app/stylesheets/partials/xipcraft_static_site/_typography.scss */
body nav.main ul li a {
  color: #666;
}
/* line 91, ../../app/stylesheets/partials/xipcraft_static_site/_typography.scss */
body nav.main ul li a:hover {
  color: #222;
}
/* line 96, ../../app/stylesheets/partials/xipcraft_static_site/_typography.scss */
body nav.main ul li span a {
  color: #333;
  font-weight: bold;
}
/* line 106, ../../app/stylesheets/partials/xipcraft_static_site/_typography.scss */
body div.showcase p {
  line-height: 1.86;
  font-size: 0.788em;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  margin-top: 16px;
  color: #555;
}
/* line 107, ../../app/stylesheets/partials/xipcraft_static_site/_typography.scss */
body div.showcase p a {
  color: #741b47;
  border-bottom: 2px solid #741b47;
  cursor: pointer;
}
/* line 111, ../../app/stylesheets/partials/xipcraft_static_site/_typography.scss */
body div.showcase p a:hover {
  color: #222;
  border-bottom: 2px solid #222;
}
/* line 123, ../../app/stylesheets/partials/xipcraft_static_site/_typography.scss */
body div.showcase h2 + p {
  margin-top: 18px;
}
/* line 127, ../../app/stylesheets/partials/xipcraft_static_site/_typography.scss */
body div.showcase h2 {
  text-align: left;
  line-height: 1.08;
  font-size: 1.751em;
  font-style: italic;
}
/* line 136, ../../app/stylesheets/partials/xipcraft_static_site/_typography.scss */
body div.showcase h3 {
  margin-top: 25px;
  text-align: left;
  line-height: 1.08;
  font-size: 1.401em;
}
/* line 144, ../../app/stylesheets/partials/xipcraft_static_site/_typography.scss */
body div.showcase #produce h2 {
  padding: 2px 0px 9px 0px;
  border-bottom: 3px dashed #741b47;
  margin-left: 10px;
  width: 415px;
}
/* line 152, ../../app/stylesheets/partials/xipcraft_static_site/_typography.scss */
body div.showcase #produce p {
  padding: 0px 20px 0px 10px;
}
/* line 160, ../../app/stylesheets/partials/xipcraft_static_site/_typography.scss */
body div.showcase #team #motto h2 {
  text-align: center;
  padding: 18px 0px 9px 0px;
  border-bottom: 3px dashed #741b47;
  margin: 0 auto;
  width: 640px;
}
/* line 169, ../../app/stylesheets/partials/xipcraft_static_site/_typography.scss */
body div.showcase #team .bio h3, body div.showcase #team .bio p {
  padding: 0px 15px 0px 15px;
  text-align: center;
}
/* line 178, ../../app/stylesheets/partials/xipcraft_static_site/_typography.scss */
body div.showcase #contact #magic_location h2 {
  text-align: center;
  padding: 18px 0px 9px 0px;
  border-bottom: 3px dashed #741b47;
  margin: 0 auto;
  width: 400px;
}
/* line 187, ../../app/stylesheets/partials/xipcraft_static_site/_typography.scss */
body div.showcase #contact #call_to_talk ul {
  list-style-type: none;
}
/* line 191, ../../app/stylesheets/partials/xipcraft_static_site/_typography.scss */
body div.showcase #contact #call_to_talk ul li h3 {
  margin-top: 16px;
}
/* line 194, ../../app/stylesheets/partials/xipcraft_static_site/_typography.scss */
body div.showcase #contact #call_to_talk ul li p {
  margin-top: 4.5px;
}
/* line 197, ../../app/stylesheets/partials/xipcraft_static_site/_typography.scss */
body div.showcase #contact #call_to_talk ul li span {
  font-weight: bold;
  color: #333;
}
/* line 208, ../../app/stylesheets/partials/xipcraft_static_site/_typography.scss */
body div.showcase #team nav p, body div.showcase #contact nav p {
  font-style: italic;
  text-align: center;
}
/* line 211, ../../app/stylesheets/partials/xipcraft_static_site/_typography.scss */
body div.showcase #team nav p span, body div.showcase #contact nav p span {
  font-weight: bold;
  color: #333;
}
/* line 219, ../../app/stylesheets/partials/xipcraft_static_site/_typography.scss */
body footer p {
  line-height: 1.24;
  font-size: 10px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  margin: 4px;
  color: #bababa;
  text-align: center;
}

/* xCarousel: A simple light carousel mixin to be used with 
              CSS3 or JS transforms to enable smooth animation
              
   @author: Balwant K.
---------------------------------------- */
/* HTML structure:
   Note that the following structure is created with generic div tags. 
   I encourage you to replace them with with more semantic HTML5 tags.
   
   <div id="stage_id">
     <div id="showcase_id">
       <div class="show_class">
         <!-- Content elements go here...-->
       </div>
       <div class="show_class">
         <!-- Content elements go here...-->
       </div>
       <div class="show_class">
         <!-- Content elements go here...-->
       </div>
       <!-- More shows can go here...-->
     </div>
   </div>
---------------------------------------- */
/* Javascript control:

> document.getElementById("<showcase_id>").style.left="<distance_to_show>";
---------------------------------------- */
/* xCarousel SCSS mixin usage:

@import "partials/xcarousel"; // Path may change..
@include xCarousel($stage_id,$stage_width,$showcase_id,$showcase_width,$show_class,$show_width,$animation-toggle,$animation_duration,$animation_easing);
---------------------------------------- */
/* Base styling
---------------------------------------- */
/* line 34, ../../app/stylesheets/xipcraft_static_site.scss */
html {
  height: 100%;
}

/* line 35, ../../app/stylesheets/xipcraft_static_site.scss */
body {
  background-color: #fafafa;
  background-image: url("/images/xipcraft_static_site/background_textile.gif");
  height: 100%;
}

/* line 41, ../../app/stylesheets/xipcraft_static_site.scss */
#home_view, #produce_team_contact_carousel, #the_end {
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -moz-transition-delay: 0;
  -webkit-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
}

/* 
---------------------------------------- */
/*****************************************************/
/*****************************************************/
/* Start: Default 1col fluid layout for viewports that don't handle media queries as well as those that are less than 480px width..
---------------------------------------- */
/* line 56, ../../app/stylesheets/xipcraft_static_site.scss */
body {
  width: 98%;
  margin: 0 auto;
}

/* line 58, ../../app/stylesheets/xipcraft_static_site.scss */
#main {
  width: 100%;
}
/* line 60, ../../app/stylesheets/xipcraft_static_site.scss */
#main #xipcraft_branding {
  width: 100%;
  margin-top: 2.25em;
}
/* line 63, ../../app/stylesheets/xipcraft_static_site.scss */
#main #xipcraft_branding img {
  width: 100%;
  height: auto;
}
/* line 69, ../../app/stylesheets/xipcraft_static_site.scss */
#main #what_and_why {
  width: 100%;
  margin-top: 0.563em;
  margin-bottom: 15px;
}
/* line 73, ../../app/stylesheets/xipcraft_static_site.scss */
#main #what_and_why #description {
  margin-top: 15px;
}
/* line 78, ../../app/stylesheets/xipcraft_static_site.scss */
#main #home_view {
  width: 100%;
  overflow: hidden;
}
/* line 83, ../../app/stylesheets/xipcraft_static_site.scss */
#main .divider {
  width: 100%;
}
/* line 85, ../../app/stylesheets/xipcraft_static_site.scss */
#main .divider div {
  border-bottom: 3px dashed #741b47;
  height: 16px;
  margin: 0 auto;
  width: 100px;
}
/* line 92, ../../app/stylesheets/xipcraft_static_site.scss */
#main nav.main {
  width: 100%;
}
/* line 96, ../../app/stylesheets/xipcraft_static_site.scss */
#main #produce_team_contact_carousel {
  margin-top: 1.828em;
  -moz-box-shadow: inset 0px 1px 2px 2px #c9c9c9;
  -webkit-box-shadow: inset 0px 1px 2px 2px #c9c9c9;
  -o-box-shadow: inset 0px 1px 2px 2px #c9c9c9;
  box-shadow: inset 0px 1px 2px 2px #c9c9c9;
  -moz-border-radius: 0.703em;
  -webkit-border-radius: 0.703em;
  -o-border-radius: 0.703em;
  -ms-border-radius: 0.703em;
  -khtml-border-radius: 0.703em;
  border-radius: 0.703em;
  background: #fff;
  height: 0px;
  opacity: 0;
}
/* line 107, ../../app/stylesheets/xipcraft_static_site.scss */
#main #produce_team_contact_carousel div.showcase #produce #produce_mascot {
  width: 50%;
  margin: 5% 25% -10% 25%;
}
/* line 110, ../../app/stylesheets/xipcraft_static_site.scss */
#main #produce_team_contact_carousel div.showcase #produce #produce_mascot img {
  width: 100%;
  height: auto;
}
/* line 116, ../../app/stylesheets/xipcraft_static_site.scss */
#main #produce_team_contact_carousel div.showcase #produce #produce_description {
  width: 90%;
  margin: 0% 5%;
  padding-top: 2.475em;
}
/* line 120, ../../app/stylesheets/xipcraft_static_site.scss */
#main #produce_team_contact_carousel div.showcase #produce #produce_description h2 {
  width: 90%;
  margin-right: 5%;
}
/* line 125, ../../app/stylesheets/xipcraft_static_site.scss */
#main #produce_team_contact_carousel div.showcase #produce #produce_description nav {
  width: 100%;
}
/* line 132, ../../app/stylesheets/xipcraft_static_site.scss */
#main #produce_team_contact_carousel div.showcase #team #motto {
  padding-top: 4px;
  width: 90%;
  margin: 0% 5%;
  margin-bottom: 2.25em;
}
/* line 136, ../../app/stylesheets/xipcraft_static_site.scss */
#main #produce_team_contact_carousel div.showcase #team #motto h2 {
  width: 100%;
}
/* line 142, ../../app/stylesheets/xipcraft_static_site.scss */
#main #produce_team_contact_carousel div.showcase #team .pic {
  overflow: hidden;
  margin: 0 auto;
  width: 160px;
  -moz-box-shadow: 1px 1px 4px 2px #c9c9c9;
  -webkit-box-shadow: 1px 1px 4px 2px #c9c9c9;
  -o-box-shadow: 1px 1px 4px 2px #c9c9c9;
  box-shadow: 1px 1px 4px 2px #c9c9c9;
  border: 5px solid white;
}
/* line 149, ../../app/stylesheets/xipcraft_static_site.scss */
#main #produce_team_contact_carousel div.showcase #team #bk {
  width: 100%;
}
/* line 152, ../../app/stylesheets/xipcraft_static_site.scss */
#main #produce_team_contact_carousel div.showcase #team #du {
  width: 100%;
  margin: 24px 0px;
}
/* line 156, ../../app/stylesheets/xipcraft_static_site.scss */
#main #produce_team_contact_carousel div.showcase #team nav {
  width: 90%;
  margin: 0% 5%;
}
/* line 164, ../../app/stylesheets/xipcraft_static_site.scss */
#main #produce_team_contact_carousel div.showcase #contact #magic_location {
  padding-top: 4px;
  width: 90%;
  margin: 0% 5%;
  margin-bottom: 2.25em;
}
/* line 169, ../../app/stylesheets/xipcraft_static_site.scss */
#main #produce_team_contact_carousel div.showcase #contact #magic_location h2 {
  width: 100%;
}
/* line 174, ../../app/stylesheets/xipcraft_static_site.scss */
#main #produce_team_contact_carousel div.showcase #contact #map_to_xipcraft {
  width: 100%;
}
/* line 176, ../../app/stylesheets/xipcraft_static_site.scss */
#main #produce_team_contact_carousel div.showcase #contact #map_to_xipcraft #the_map {
  overflow: hidden;
  width: 70%;
  margin: 0 auto;
  border: 5px solid white;
  -moz-box-shadow: 1px 1px 8px 3px #c9c9c9;
  -webkit-box-shadow: 1px 1px 8px 3px #c9c9c9;
  -o-box-shadow: 1px 1px 8px 3px #c9c9c9;
  box-shadow: 1px 1px 8px 3px #c9c9c9;
}
/* line 183, ../../app/stylesheets/xipcraft_static_site.scss */
#main #produce_team_contact_carousel div.showcase #contact #map_to_xipcraft #the_map img {
  width: 100%;
  height: auto;
}
/* line 190, ../../app/stylesheets/xipcraft_static_site.scss */
#main #produce_team_contact_carousel div.showcase #contact #call_to_talk {
  width: 90%;
  margin: 0% 5%;
  margin-top: 40px;
}
/* line 194, ../../app/stylesheets/xipcraft_static_site.scss */
#main #produce_team_contact_carousel div.showcase #contact #call_to_talk h3, #main #produce_team_contact_carousel div.showcase #contact #call_to_talk p {
  text-align: center;
}
/* line 199, ../../app/stylesheets/xipcraft_static_site.scss */
#main #produce_team_contact_carousel div.showcase #contact nav {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 90%;
  margin: 0% 5%;
}
/* line 208, ../../app/stylesheets/xipcraft_static_site.scss */
#main #the_end {
  margin-top: 13.5px;
  width: 100%;
}

/* line 41, ../../app/stylesheets/partials/_xcarousel.scss */
#produce_team_contact_carousel {
  float: left;
  overflow: hidden;
  width: 100%;
}
/* line 46, ../../app/stylesheets/partials/_xcarousel.scss */
#produce_team_contact_carousel #main_carousel_showcase {
  overflow: hidden;
  float: left;
  width: 300%;
  position: relative;
  left: 0px;
  top: 0px;
  -moz-transition-property: left;
  -webkit-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -moz-transition-delay: 0;
  -webkit-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
}
/* line 58, ../../app/stylesheets/partials/_xcarousel.scss */
#produce_team_contact_carousel #main_carousel_showcase .show {
  overflow: hidden;
  float: left;
  width: 33.333333333332%;
}

/* Global IE Styles (Noboxshadow?) ---------------------------------------- */
/* line 219, ../../app/stylesheets/xipcraft_static_site.scss */
.ie6 #produce_team_contact_carousel, .ie7 #produce_team_contact_carousel, .ie8 #produce_team_contact_carousel {
  border: #CECECE 2px solid;
}
/* line 224, ../../app/stylesheets/xipcraft_static_site.scss */
.ie6 .pic img, .ie7 .pic img, .ie8 .pic img {
  border: #CECECE 1px solid;
  padding: 4px;
  width: 130px;
  margin-left: 5px;
}

/* END Global IE Styles ---------------------------------------- */
/* End: Default layout for viewports that don't handle media queries as well as those that are less than 480px width..
---------------------------------------- */
/*****************************************************/
/*****************************************************/
/*****************************************************/
/*****************************************************/
/* Start: 2 Col fluid.. For everything in between real 960px and 480px
---------------------------------------- */
@media screen and (min-width:480px), handheld and (min-width:480px) {
  /* line 249, ../../app/stylesheets/xipcraft_static_site.scss */
  #main #xipcraft_branding img {
    width: 205px;
    height: 82px;
  }
  /* line 258, ../../app/stylesheets/xipcraft_static_site.scss */
  #main #produce_team_contact_carousel div.showcase #produce #produce_mascot {
    float: left;
    width: 50%;
    margin: 0px 0px 0px 0px;
  }
  /* line 262, ../../app/stylesheets/xipcraft_static_site.scss */
  #main #produce_team_contact_carousel div.showcase #produce #produce_mascot img {
    width: 80%;
    padding: 20% 10% 10% 10%;
    height: auto;
  }
  /* line 269, ../../app/stylesheets/xipcraft_static_site.scss */
  #main #produce_team_contact_carousel div.showcase #produce #produce_description {
    float: left;
    width: 50%;
    margin: 0% 0%;
    margin-bottom: 10px;
  }
  /* line 278, ../../app/stylesheets/xipcraft_static_site.scss */
  #main #produce_team_contact_carousel div.showcase #team #motto {
    float: left;
  }
  /* line 282, ../../app/stylesheets/xipcraft_static_site.scss */
  #main #produce_team_contact_carousel div.showcase #team #bk {
    float: left;
    width: 50%;
  }
  /* line 287, ../../app/stylesheets/xipcraft_static_site.scss */
  #main #produce_team_contact_carousel div.showcase #team #du {
    float: left;
    width: 50%;
    margin: 0px 0px;
  }
  /* line 293, ../../app/stylesheets/xipcraft_static_site.scss */
  #main #produce_team_contact_carousel div.showcase #team nav {
    float: left;
    display: block;
    visibility: visible;
  }
  /* line 297, ../../app/stylesheets/xipcraft_static_site.scss */
  #main #produce_team_contact_carousel div.showcase #team nav p {
    margin-top: 39px;
  }
  /* line 304, ../../app/stylesheets/xipcraft_static_site.scss */
  #main #produce_team_contact_carousel div.showcase #contact #magic_location {
    float: left;
  }
  /* line 308, ../../app/stylesheets/xipcraft_static_site.scss */
  #main #produce_team_contact_carousel div.showcase #contact #map_to_xipcraft {
    width: 50%;
    float: left;
  }
  /* line 313, ../../app/stylesheets/xipcraft_static_site.scss */
  #main #produce_team_contact_carousel div.showcase #contact #call_to_talk {
    float: left;
    width: 50%;
    margin: 0px;
    margin-top: -16px;
  }
  /* line 318, ../../app/stylesheets/xipcraft_static_site.scss */
  #main #produce_team_contact_carousel div.showcase #contact #call_to_talk h3, #main #produce_team_contact_carousel div.showcase #contact #call_to_talk p {
    text-align: center;
    width: 80%;
  }
  /* line 324, ../../app/stylesheets/xipcraft_static_site.scss */
  #main #produce_team_contact_carousel div.showcase #contact nav {
    float: left;
    margin-top: 35px;
  }
}
/* Mid range tweak for mascot image
---------------------------------------- */
@media screen and (min-width:760px) and (max-width:960px), handheld and (min-width:760px) and (max-width:960px) {
  /* line 343, ../../app/stylesheets/xipcraft_static_site.scss */
  #main #produce_team_contact_carousel div.showcase #produce #produce_mascot img {
    width: 60%;
    padding: 7% 20% 8% 20%;
    height: auto;
  }
}
/* End: 2 Col fluid Layout for everything in between real 960px and 480px
---------------------------------------- */
/*****************************************************/
/*****************************************************/
/*****************************************************/
/*****************************************************/
/* Start: FIXED WIDTH LAYOUT FOR BIGGER SCREENS
----------------------------------------  */
@media screen and (min-width:960px), handheld and (min-width:960px) {
  /* line 366, ../../app/stylesheets/xipcraft_static_site.scss */
  body {
    width: 100%;
    margin: 0 auto;
  }

  /* line 367, ../../app/stylesheets/xipcraft_static_site.scss */
  #main {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    *zoom: 1;
  }
  /* line 371, ../../app/stylesheets/xipcraft_static_site.scss */
  #main #xipcraft_branding {
    display: inline;
    float: left;
    margin-right: 0;
    width: 960px;
  }
  /* line 147, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
  * html #main #xipcraft_branding {
    overflow-x: hidden;
  }
  /* line 375, ../../app/stylesheets/xipcraft_static_site.scss */
  #main #what_and_why {
    display: inline;
    float: left;
    margin-right: 0;
    width: 960px;
    margin-top: 0.563em;
    margin-bottom: 15px;
  }
  /* line 147, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
  * html #main #what_and_why {
    overflow-x: hidden;
  }
  /* line 379, ../../app/stylesheets/xipcraft_static_site.scss */
  #main #what_and_why #description {
    margin-top: 15px;
  }
  /* line 384, ../../app/stylesheets/xipcraft_static_site.scss */
  #main #home_view {
    display: inline;
    float: left;
    margin-right: 0;
    width: 960px;
  }
  /* line 147, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
  * html #main #home_view {
    overflow-x: hidden;
  }
  /* line 388, ../../app/stylesheets/xipcraft_static_site.scss */
  #main .divider {
    display: inline;
    float: left;
    margin-right: 0;
    width: 960px;
  }
  /* line 147, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
  * html #main .divider {
    overflow-x: hidden;
  }
  /* line 392, ../../app/stylesheets/xipcraft_static_site.scss */
  #main nav.main {
    display: inline;
    float: left;
    margin-right: 0;
    width: 960px;
  }
  /* line 147, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
  * html #main nav.main {
    overflow-x: hidden;
  }
  /* line 396, ../../app/stylesheets/xipcraft_static_site.scss */
  #main #produce_team_contact_carousel {
    display: inline;
    float: left;
    margin-right: 0;
    width: 960px;
  }
  /* line 147, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
  * html #main #produce_team_contact_carousel {
    overflow-x: hidden;
  }
  /* line 400, ../../app/stylesheets/xipcraft_static_site.scss */
  #main #produce_team_contact_carousel div.showcase #produce #produce_mascot {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 475px;
    height: 520px;
    overflow: hidden;
    margin: 0px;
  }
  /* line 147, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
  * html #main #produce_team_contact_carousel div.showcase #produce #produce_mascot {
    overflow-x: hidden;
  }
  /* line 405, ../../app/stylesheets/xipcraft_static_site.scss */
  #main #produce_team_contact_carousel div.showcase #produce #produce_mascot img {
    margin-top: 20px;
    margin-left: 38px;
    width: 400px;
    height: 628px;
    padding: 0px;
  }
  /* line 414, ../../app/stylesheets/xipcraft_static_site.scss */
  #main #produce_team_contact_carousel div.showcase #produce #produce_description {
    margin: 0px;
    margin-top: 3px;
    display: inline;
    float: left;
    margin-right: 0;
    width: 475px;
  }
  /* line 147, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
  * html #main #produce_team_contact_carousel div.showcase #produce #produce_description {
    overflow-x: hidden;
  }
  /* line 418, ../../app/stylesheets/xipcraft_static_site.scss */
  #main #produce_team_contact_carousel div.showcase #produce #produce_description nav {
    display: inline;
    float: left;
    margin-right: 0;
    width: 475px;
  }
  /* line 147, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
  * html #main #produce_team_contact_carousel div.showcase #produce #produce_description nav {
    overflow-x: hidden;
  }
  /* line 422, ../../app/stylesheets/xipcraft_static_site.scss */
  #main #produce_team_contact_carousel div.showcase #produce #produce_description h2 {
    margin-right: 0px;
    width: 415px;
  }
  /* line 431, ../../app/stylesheets/xipcraft_static_site.scss */
  #main #produce_team_contact_carousel div.showcase #team #motto {
    margin: 0px;
    margin-top: 3px;
    display: inline;
    float: left;
    margin-right: 0;
    width: 960px;
  }
  /* line 147, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
  * html #main #produce_team_contact_carousel div.showcase #team #motto {
    overflow-x: hidden;
  }
  /* line 435, ../../app/stylesheets/xipcraft_static_site.scss */
  #main #produce_team_contact_carousel div.showcase #team #motto h2 {
    margin: 0 auto;
    width: 640px;
  }
  /* line 440, ../../app/stylesheets/xipcraft_static_site.scss */
  #main #produce_team_contact_carousel div.showcase #team .pic {
    height: 9em;
    margin-top: 42px;
  }
  /* line 445, ../../app/stylesheets/xipcraft_static_site.scss */
  #main #produce_team_contact_carousel div.showcase #team .bio {
    height: 10.688em;
    display: inline;
    float: left;
    margin-right: 0;
    width: 475px;
  }
  /* line 147, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
  * html #main #produce_team_contact_carousel div.showcase #team .bio {
    overflow-x: hidden;
  }
  /* line 450, ../../app/stylesheets/xipcraft_static_site.scss */
  #main #produce_team_contact_carousel div.showcase #team #bk {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 475px;
  }
  /* line 147, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
  * html #main #produce_team_contact_carousel div.showcase #team #bk {
    overflow-x: hidden;
  }
  /* line 454, ../../app/stylesheets/xipcraft_static_site.scss */
  #main #produce_team_contact_carousel div.showcase #team #du {
    display: inline;
    float: left;
    margin-right: 0;
    width: 475px;
    margin: 0px;
  }
  /* line 147, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
  * html #main #produce_team_contact_carousel div.showcase #team #du {
    overflow-x: hidden;
  }
  /* line 459, ../../app/stylesheets/xipcraft_static_site.scss */
  #main #produce_team_contact_carousel div.showcase #team nav {
    float: left;
    display: block;
    visibility: visible;
    margin: 0px;
    padding-top: 18px;
    display: inline;
    float: left;
    margin-right: 0;
    width: 960px;
  }
  /* line 463, ../../app/stylesheets/xipcraft_static_site.scss */
  #main #produce_team_contact_carousel div.showcase #team nav p {
    margin: 0px;
  }
  /* line 147, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
  * html #main #produce_team_contact_carousel div.showcase #team nav {
    overflow-x: hidden;
  }
  /* line 472, ../../app/stylesheets/xipcraft_static_site.scss */
  #main #produce_team_contact_carousel div.showcase #contact #magic_location {
    margin: 0px;
    margin-top: 3px;
    display: inline;
    float: left;
    margin-right: 0;
    width: 960px;
    margin-bottom: 42px;
  }
  /* line 147, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
  * html #main #produce_team_contact_carousel div.showcase #contact #magic_location {
    overflow-x: hidden;
  }
  /* line 476, ../../app/stylesheets/xipcraft_static_site.scss */
  #main #produce_team_contact_carousel div.showcase #contact #magic_location h2 {
    margin: 0 auto;
    width: 400px;
  }
  /* line 483, ../../app/stylesheets/xipcraft_static_site.scss */
  #main #produce_team_contact_carousel div.showcase #contact #map_to_xipcraft {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 515.417px;
  }
  /* line 147, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
  * html #main #produce_team_contact_carousel div.showcase #contact #map_to_xipcraft {
    overflow-x: hidden;
  }
  /* line 485, ../../app/stylesheets/xipcraft_static_site.scss */
  #main #produce_team_contact_carousel div.showcase #contact #map_to_xipcraft #the_map {
    width: 400px;
    height: 282px;
  }
  /* line 491, ../../app/stylesheets/xipcraft_static_site.scss */
  #main #produce_team_contact_carousel div.showcase #contact #call_to_talk {
    display: inline;
    float: left;
    margin-right: 0;
    width: 434.583px;
  }
  /* line 147, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
  * html #main #produce_team_contact_carousel div.showcase #contact #call_to_talk {
    overflow-x: hidden;
  }
  /* line 493, ../../app/stylesheets/xipcraft_static_site.scss */
  #main #produce_team_contact_carousel div.showcase #contact #call_to_talk div {
    overflow: hidden;
    width: 400px;
    margin-left: 15px;
  }
  /* line 497, ../../app/stylesheets/xipcraft_static_site.scss */
  #main #produce_team_contact_carousel div.showcase #contact #call_to_talk div h3, #main #produce_team_contact_carousel div.showcase #contact #call_to_talk div p {
    text-align: left;
  }
  /* line 503, ../../app/stylesheets/xipcraft_static_site.scss */
  #main #produce_team_contact_carousel div.showcase #contact nav {
    margin: 0px;
    margin-top: 31px;
    display: inline;
    float: left;
    margin-right: 0;
    width: 960px;
  }
  /* line 147, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
  * html #main #produce_team_contact_carousel div.showcase #contact nav {
    overflow-x: hidden;
  }
  /* line 507, ../../app/stylesheets/xipcraft_static_site.scss */
  #main #produce_team_contact_carousel div.showcase #contact nav p {
    margin: 0px;
  }
  /* line 513, ../../app/stylesheets/xipcraft_static_site.scss */
  #main #the_end {
    margin-top: 13.5px;
    display: inline;
    float: left;
    margin-right: 0;
    width: 960px;
  }
  /* line 147, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
  * html #main #the_end {
    overflow-x: hidden;
  }

  /* line 41, ../../app/stylesheets/partials/_xcarousel.scss */
  #produce_team_contact_carousel {
    float: left;
    overflow: hidden;
    width: auto;
  }
  /* line 46, ../../app/stylesheets/partials/_xcarousel.scss */
  #produce_team_contact_carousel #main_carousel_showcase {
    overflow: hidden;
    float: left;
    width: 2880px;
    position: relative;
    left: 0px;
    top: 0px;
    -moz-transition-property: left;
    -webkit-transition-property: left;
    -o-transition-property: left;
    transition-property: left;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -moz-transition-delay: 0;
    -webkit-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0;
  }
  /* line 58, ../../app/stylesheets/partials/_xcarousel.scss */
  #produce_team_contact_carousel #main_carousel_showcase .show {
    overflow: hidden;
    float: left;
    width: 960px;
  }

  /* Media Query specific IE styles ---------------------------------------- */
  /* line 527, ../../app/stylesheets/xipcraft_static_site.scss */
  .ie6 #main, .ie7 #main, .ie8 #main {
    width: 964px;
  }
  /* line 530, ../../app/stylesheets/xipcraft_static_site.scss */
  .ie6 #produce_team_contact_carousel, .ie7 #produce_team_contact_carousel, .ie8 #produce_team_contact_carousel {
    width: 964px;
  }

  /* End Media Query specific IE styles ---------------------------------------- */
}
/* End: FIXED WIDTH LAYOUT FOR BIGGER SCREENS
---------------------------------------- */
/*****************************************************/
/*****************************************************/
/*****************************************************/
/*****************************************************/
/* Start: NO JS Settings
---------------------------------------- */
/* line 41, ../../app/stylesheets/partials/_xcarousel.scss */
html.no-js #produce_team_contact_carousel {
  float: left;
  overflow: hidden;
  width: 100%;
}
/* line 46, ../../app/stylesheets/partials/_xcarousel.scss */
html.no-js #produce_team_contact_carousel #main_carousel_showcase {
  overflow: hidden;
  float: left;
  width: 100%;
  position: relative;
  left: 0px;
  top: 0px;
  -moz-transition-property: left;
  -webkit-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -moz-transition-delay: 0;
  -webkit-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
}
/* line 58, ../../app/stylesheets/partials/_xcarousel.scss */
html.no-js #produce_team_contact_carousel #main_carousel_showcase .show {
  overflow: hidden;
  float: left;
  width: 100%;
}
/* line 551, ../../app/stylesheets/xipcraft_static_site.scss */
html.no-js #produce_team_contact_carousel {
  height: 100%;
  opacity: 100;
}
/* line 555, ../../app/stylesheets/xipcraft_static_site.scss */
html.no-js #produce {
  margin-bottom: 20px;
}
/* line 556, ../../app/stylesheets/xipcraft_static_site.scss */
html.no-js #team nav {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 31, ../../app/stylesheets/partials/_helpers.scss */
html.no-js #team nav .focusable:active, html.no-js #team nav .focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/* line 557, ../../app/stylesheets/xipcraft_static_site.scss */
html.no-js #contact {
  margin-top: 0px;
}

/* End: NO JS Settings
---------------------------------------- */
/*****************************************************/
/*****************************************************/
